<html>

<head>
    <title>Marksheet Result</title>
    <style>
        body {
            font-size: x-large;
        }
    </style>
</head>

<body>    
    <b><%=msg%></b><br>
    <b>Your total marks is : <%=score%></b><br>
    <b>Your total percentage is : <%=result%></b><br>
        <!-- <%=a%>
        <%=b%>
        <%=c%>
        <%=d%>
        <%=e%> -->
     <br><br>

</body>

</html>