<html>

<head>
    <title>Signup Form Data</title>
    <style>
        body {
            font-size: x-large;
        }
    </style>
</head>

<body>
   <b> Signup Form Data </b><br><br>
   <b> First Name is : </b> <%=a%> <br><br>
   <b> Last Name is : </b> <%=b%> <br><br>
   <b> Email Id is : </b> <%=c%> <br><br>
   <b> Contact Number is : </b> <%=d%> <br><br>
   <b> Country Name is : </b> <%=e%> <br><br>

</body>

</html>